.calculator {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

}

.button {
  border: 0;
  margin: 0;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  font-family: $f-family;
  font-size: rem(32px);
  background-color: transparent;
  font-weight: $f-lighter;
  color: $c-white;

  &--function {
    font-size: rem(24px);
    width: 100%;
    background-color: $c-red;

    &:hover,
    &:focus {
      background-color: $c-red-hov;
    }

    &:active {
      background-color: $c-red;
    }
  }

  &--number {

    &:hover,
    &:focus {
      background-color: $c-pink-hov;
    }

    &:active {
      background-color: $c-pink;
    }
  }

  &--operation {
    border-top: 1px solid $c-dark-gray-trans;
    &:hover,
    &:focus {
      background-color: $c-peach-hov;
    }

    &:active {
      background-color: $c-peach;
    }
  }
  &--operation:first-child {
    border-top: 0;
  }
}



.screen {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-color: $c-dark-gray;
  color: $c-white;
  font-family: $f-family;
  text-overflow: ellipsis;
  padding-right: 1.5rem;
  &__equation {
    border: 0;
    background-color: transparent;
    color: $c-light-gray;
    max-width: 240px;
    text-align: right;
    letter-spacing: 2px;
    font-size: rem(28px);
    font-weight: $f-lighter;
  }
  
  &__output {
    font-size: rem(56px);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 260px;
    padding: 8px 0;
  }
}

.buttons {
  display: flex;
  background-color: $c-pink;
  &__functions {
    background-color: $c-red;
    text-align: left;
    display: flex;
    justify-content: flex-start;
  
    &:hover {
      background-color: $c-red-hov;
    }
  }
  &__operations {
    background-color: $c-peach;
    display: flex;
    flex-direction: column;
  }
  &__number-row {
    border-top: 1px solid $c-dark-gray-trans;
    height: 70px;
    box-sizing: border-box;
  }
}

@media (max-width: 500px) {
  .button {
    width: 50px;
    height: 50px;
    &--function {
      width: 100%;
      font-size: rem(18px);
    }
  }
  .buttons__number-row {
    height: 50px;
  }
  .screen__output {
    font-size: rem(45px);
  }
  .screen__equation {
    max-width: 180px;
  }
}