.calculator {
  display: flex;
  flex-direction: column;
}

.button {
  border: 0;
  margin: 0;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  font-family: $f-family;
  font-size: rem(32px);
  background-color: transparent;
  font-weight: $f-lighter;
  color: $c-white;
  &--function {
    font-size: rem(24px);
    width: 100%;
    background-color: $c-red;
    &:hover,
    &:focus {
      background-color: $c-red-hov;
    }
    &:active {
      background-color: $c-red;
    }
  }

  &--number {
    &:hover,
    &:focus {
      background-color: $c-pink-hov;
    }
    &:active {
      background-color: $c-pink;
    }
  }
  
  &--operation {
    &:hover,
    &:focus {
      background-color: $c-peach-hov;
    }
    &:active {
      background-color: $c-peach;
    }
  }
}



.screen {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-color: $c-dark-gray;
  color: $c-white;
  font-family: $f-family;
  padding-right: 2rem;
}

.screen__equation {
  border: 0;
  background-color: transparent;
  color: $c-light-gray;
  max-width: 240px;
  text-align: right;
  letter-spacing: 2px;
  font-size: rem(28px);
  font-weight: $f-lighter;
}

.screen__output {
  font-size: rem(56px);
  text-overflow: ellipsis;
  max-width: 260px;
  padding: 8px 0;
}

.buttons {
  display: flex;
  background-color: $c-pink;
}

.buttons__functions {
  background-color: $c-red;
  text-align: left;
  display: flex;
  justify-content: flex-start;

  &:hover {
    background-color: $c-red-hov;
  }
}

.buttons__operations {
  background-color: $c-peach;
  display: flex;
  flex-direction: column;
}

.button--operation:first-child {
  border-top: 0;
}

.button--operation {
  border-top: 1px solid $c-dark-gray-trans;
}

.buttons__number-row {
  border-top: 1px solid $c-dark-gray-trans;
  height: 70px;
  box-sizing: border-box;
}