
// colors for calculator UI
$c-white: #fff;
$c-dark-gray: #29363b;
$c-light-gray: #788184;
$c-red: #ec475c;
$c-pink: #f6827a;
$c-peach: #f7ba86;

$f-family: 'DM Sans', sans-serif;

$f-regular: 400;
$f-medium: 500;
$f-bold: 700;